# Asking for values
It can be achieved using the input() function, that writes and returns a string.

In [2]:
value = input()

In [3]:
value

'Hellow'

In [4]:
value = input()

In [5]:
# Even if we write a number, this is converted to string, is a char value
value

'100'

In [7]:
# We can also print a message before reading the value
value = input("Enter a number: ") # Message goes into a string

In [8]:
# A string and a number cannot be sum
value + 100

TypeError: can only concatenate str (not "int") to str

In [9]:
value = input("Enter a integer value: ")

## Convert string to int with int() function

In [10]:
# Returns an integer value
value = int(value)

In [15]:
type(value)

int

In [16]:
value + 1000  # Ahora ya es operable

1100

In [18]:
value = input("Enter a decimal number: ")

## Convert string to float with float() function

In [19]:
# La función float() de flotante, devuelve un número flotante a partir de una cadena
value = float(value)

In [20]:
10 + value

20.5

In [22]:
type(value)

float

In [23]:
value = float( input("Enter an integer or decimal number: ") )#que buena ondaaa

In [24]:
value

4.0